[Unit]
Description=EC AntiSpam bot for the Telegram messenger
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=ecasbot
Group=ecasbot
EnvironmentFile=/etc/ecasbot/ecasbot-env.conf
ExecStart=/usr/bin/ecasbot

[Install]
WantedBy=multi-user.target
