[Unit]
Description=EC AntiSpam bot
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
User=ecasbot
Group=ecasbot
ExecStart=/usr/bin/ecasbot

[Install]
WantedBy=multi-user.target
